openapi: 3.0.1
info:
  title: Hologram REST Cellular Links Webhooks API
  description: REST API for the Hologram global cellular IoT connectivity platform. Manage devices and cellular links (SIMs), activate and pause SIMs, change data plans, query data and SMS usage, send SMS and cloud messages to devices, manage device tags, and read available data plans. All requests are authenticated with HTTP Basic auth using the username `apikey` and the API key as the password.
  termsOfService: https://www.hologram.io/terms/
  contact:
    name: Hologram Support
    url: https://support.hologram.io/
  version: '1.0'
servers:
- url: https://dashboard.hologram.io/api/1
security:
- apikeyAuth: []
tags:
- name: Webhooks
paths:
  /devices/messages/{deviceid}/{webhookguid}:
    post:
      operationId: sendWebhookMessage
      tags:
      - Webhooks
      summary: Send a message to a device via a webhook GUID
      description: Pre-authenticated inbound endpoint that delivers a message to a device addressed by its id and a per-device webhook GUID. Does not require API key authentication.
      security: []
      parameters:
      - $ref: '#/components/parameters/deviceid'
      - name: webhookguid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
                base64data:
                  type: string
      responses:
        '200':
          description: The message was delivered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
components:
  parameters:
    deviceid:
      name: deviceid
      in: path
      required: true
      schema:
        type: integer
  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
        error:
          type: string
  securitySchemes:
    apikeyAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use the literal username `apikey` and your Hologram API key as the password. The API key may alternatively be supplied as an `apikey` query parameter.
