openapi: 3.0.1
info:
  title: Hologram REST Cellular Links API
  description: REST API for the Hologram global cellular IoT connectivity platform. Manage devices and cellular links (SIMs), activate and pause SIMs, change data plans, query data and SMS usage, send SMS and cloud messages to devices, manage device tags, and read available data plans. All requests are authenticated with HTTP Basic auth using the username `apikey` and the API key as the password.
  termsOfService: https://www.hologram.io/terms/
  contact:
    name: Hologram Support
    url: https://support.hologram.io/
  version: '1.0'
servers:
- url: https://dashboard.hologram.io/api/1
security:
- apikeyAuth: []
tags:
- name: Cellular Links
paths:
  /links/cellular:
    get:
      operationId: listCellularLinks
      tags:
      - Cellular Links
      summary: List cellular links (SIMs)
      description: Retrieve cellular links, optionally filtered by organization, SIM, MSISDN, IMSI, or device.
      parameters:
      - $ref: '#/components/parameters/orgid'
      - name: sim
        in: query
        schema:
          type: string
      - name: deviceid
        in: query
        schema:
          type: integer
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/startafter'
      responses:
        '200':
          description: A list of cellular links.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CellularLinkListResponse'
  /links/cellular/{linkid}:
    get:
      operationId: getCellularLink
      tags:
      - Cellular Links
      summary: Retrieve a cellular link
      parameters:
      - $ref: '#/components/parameters/linkid'
      responses:
        '200':
          description: The requested cellular link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CellularLinkResponse'
  /links/cellular/sim_{iccid}/claim:
    post:
      operationId: claimSim
      tags:
      - Cellular Links
      summary: Activate (claim) a SIM
      description: Activate a single SIM by ICCID onto a data plan and zone.
      parameters:
      - name: iccid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - plan
              properties:
                plan:
                  type: integer
                zone:
                  type: string
                orgid:
                  type: integer
                tagid:
                  type: integer
                overage_limit:
                  type: integer
      responses:
        '200':
          description: The SIM was activated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CellularLinkResponse'
  /links/cellular/bulkclaim:
    post:
      operationId: bulkClaimSims
      tags:
      - Cellular Links
      summary: Activate (claim) multiple SIMs in bulk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - plan
              properties:
                sims:
                  type: array
                  items:
                    type: string
                simrange:
                  type: string
                plan:
                  type: integer
                zone:
                  type: string
                orgid:
                  type: integer
                tagid:
                  type: integer
      responses:
        '200':
          description: The SIMs were activated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /links/cellular/{linkid}/state:
    post:
      operationId: setCellularLinkState
      tags:
      - Cellular Links
      summary: Pause or unpause a SIM
      parameters:
      - $ref: '#/components/parameters/linkid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - state
              properties:
                state:
                  type: string
                  enum:
                  - pause
                  - live
      responses:
        '200':
          description: The SIM state was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
  /links/cellular/{linkid}/changeplan:
    post:
      operationId: changeCellularLinkPlan
      tags:
      - Cellular Links
      summary: Change a SIM data plan
      parameters:
      - $ref: '#/components/parameters/linkid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - planid
              properties:
                planid:
                  type: integer
                zone:
                  type: string
                overage_limit:
                  type: integer
      responses:
        '200':
          description: The SIM plan was changed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
components:
  schemas:
    CellularLinkResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/CellularLink'
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
        error:
          type: string
    CellularLinkListResponse:
      type: object
      properties:
        success:
          type: boolean
        size:
          type: integer
        limit:
          type: integer
        continues:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/CellularLink'
    CellularLink:
      type: object
      properties:
        id:
          type: integer
        deviceid:
          type: integer
        sim:
          type: string
        msisdn:
          type: string
        imsi:
          type: string
        planid:
          type: integer
        zone:
          type: string
        state:
          type: string
        whenclaimed:
          type: string
        whenexpires:
          type: string
  parameters:
    linkid:
      name: linkid
      in: path
      required: true
      schema:
        type: integer
    startafter:
      name: startafter
      in: query
      description: Record id to paginate after.
      schema:
        type: integer
    limit:
      name: limit
      in: query
      description: Maximum number of records to return.
      schema:
        type: integer
    orgid:
      name: orgid
      in: query
      description: Organization id to scope the request.
      schema:
        type: integer
  securitySchemes:
    apikeyAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use the literal username `apikey` and your Hologram API key as the password. The API key may alternatively be supplied as an `apikey` query parameter.
